<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamacally data used</title>
    {{!-- <link href=""/> --}}
</head>
<body>
   
    {{>headers}}
    <h1>dynamicllay data usd{{name}} </h1>
</body>
</html>